<div id="profile-{{artist.id}}" class="flex flex-col bg-slate-200 hover:bg-teal-100 transition-colors ease-in-out rounded-lg content-center text-center w-1/3 pb-2"
 hx-get="/catalog" hx-swap="outerHTML" hx-vals='{"id": {{ artist.id }} }'">
<span class="py-1 uppercase font-bold"><a href="{{ artist.website }}" class="text-cyan-800 hover:text-cyan-600">{{artist.name}}</a></span>
<span class="px-1 text-xs text-slate-500 font-bold uppercase">Profile</span>
<div class="flex flex-col my-2 w-full overflow-y-auto overflow-x-clip">
<p class="text-xs text-slate-600 h-full px-2 py-2 w-full">{{ artist.profile|safe }}</p>
</div>
<img src="{{ artist.cover_image }}" class="py-2" />
<p class="text-xs uppercase text-slate-600"><a href="{{ artist.website }}">official profile</a></p>

</div>