<header>
    <nav class="flex flex-row self-start w-full h-1/12 py-2 justify-around items-end bg-green-50">
        <section id="links" class="flex flex-row items-center uppercase bg-green-100">
            <a class="px-3 py-1 mx-2 hover:text-teal-400 transition-all ease-in-out" href="#">Home</a>
            <a class="px-3 py-1 mx-2 hover:text-teal-400 transition-all ease-in-out" href="#">About</a>
            <a class="px-3 py-1 mx-2 hover:text-teal-400 transition-all ease-in-out" href="#">Contact</a>
        </section>
    </nav>
</header>
